@import "../../styles/variables";

.container {
    width: calc(70% + 80px);
    margin: 0 auto;
}

.productsContainer {
    background-color: #fff;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.new {
    font-size: 14px;
}

.title {
    font-size: 24px;
}